/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    font-size: 16px;
}

body {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    background-color: #D3D9D4;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Navbar Styles */
#navbar {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
    padding: 0.625rem 1.25rem; /* 10px 20px */
    background: #003153;
}

#title {
    font-family: "Bungee Tint", sans-serif;
    font-size: 2.5rem; /* 40px */
    font-weight: bold;
}

#nav-links {
    display: flex;
    list-style: none;
    gap: 1rem; /* 16px */
}

#nav-links li:not(:last-child)::after {
    content: "|";
    color: white;
    margin-left: 1rem; /* 16px */
}

#nav-links a {
    color: white;
    font-weight: 600;
    text-decoration: none;
    padding: 0.5rem 0.75rem; /* 8px 12px */
    border-radius: 0.5rem; /* 8px */
    transition: background-color 0.3s ease-in-out;
}

#nav-links a:hover {
    background-color: #749D92;
}

/* Content Styles */
#information {
    display: flex;
    position: relative;
    margin-top: 2.5rem; /* 40px */
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#greeting {
    font-size: 2rem; /* 32px */
    font-weight: bold;
}

#instruction {
    font-style: italic;
}

#linksContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    padding: 3.125rem 0; /* 50px 0 */
    max-width: 95%;
    box-sizing: border-box;
    gap: 2rem; /* 32px */
}

.links {
    display: flex;
    position: relative;
    background-color: white;
    min-height: 50rem; /* 800px */
    cursor: pointer;
    background-size: cover;
    background-position: center;
    box-shadow: 0.625rem 0.625rem 1.25rem rgba(0, 0, 0, 0.3); /* 10px 10px 20px */
    border: solid black 0.125rem; /* 2px */
    border-radius: 0.5rem; /* 8px */
    transition: border 0.3s ease-in-out;
}

.links::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem; /* 8px */
    z-index: 1;
}

.headings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    border-radius: 0.5rem; /* 8px */
    color: white;
    font-size: 2rem; /* 32px */
    transition: font-size 0.3s ease-in-out;
}

.links:hover {
    border: solid white 0.1875rem; /* 3px */
}

.links:hover .headings{
    font-size: 2.125rem; /* 36px */
}

#climate-crisis {
    background-image: url('./images/climate-crisis.webp');
}

#typesetting {
    background-image: url('./images/typesetting.webp');
}

#four-algorithms {
    background-image: url('./images/four-algorithms.webp');
}

#footer {
    display: flex;
    justify-content: space-between;
    padding: 0.625rem 1.25rem; /* 10px 20px */
    margin: auto;
    align-items: center;
    background-color: #003153;
    color: white;
    font-weight: 600;
}

.social-media img {
    margin-left: 1.875rem; /* 30px */
    max-width: 2rem; /* 32px */
    max-height: 2rem; /* 32px */
}

#X {
    margin-top: 0.1875rem; /* 3px */
}

#instagram {
    margin-top: 0.1875rem; /* 3px */
}

#discord {
    margin-bottom: 0.1875rem; /* 3px */
}